body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  min-height: 100%;
}

.sidebar {
  background-color: #484848;
  box-shadow: 1px 1px 3px #aaa;
  flex-shrink: 0;
  position: relative;
  transition: 1s ease;
  width: 2rem;
}

.sidebar--large {
  width: 25rem;
}

.sidebar__toggle-button {
  background-color: #13adbd;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
  color: #000066;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  left: 100%;
  position: absolute;
  top: 2rem;
  transform: translateX(-50%);
  transition: 1s ease;
  width: 40px;
}

.sidebar__toggle-button--close {
  transform: translateX(-50%) rotate(180deg);
}

.sidebar__content {
  overflow: hidden;
}

.sidebar__form {
  border-bottom: 1px dotted #c0c0c0;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  padding: 2rem 0;
  row-gap: 2rem;
}

.sidebar__row {
  column-gap: 1rem;
  display: flex;
  flex-direction: row;
}

.sidebar__col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.sidebar__label {
  color: #c0c0c0;
  white-space: nowrap;
}

.sidebar__label--with-help {
  text-decoration: underline dotted;
}

.sidebar__text-input {
  border: 3px solid #858585;
  box-sizing: border-box;
  margin: 0.5rem 0;
  outline: none;
  padding: 0.5rem 0.75rem;
  transition: 0.5s;
  width: 100%;
}

.sidebar__text-input:focus {
  border-color: #000066;
}

.sidebar__text-input:disabled {
  border-color: #ccc;
}

.sidebar__checkbox-row {
  white-space: nowrap;
}

.sidebar__button {
  background-color: #13adbd;
  border: none;
  color: #000066;
  font-size: 1.1rem;
  overflow: hidden;
  padding: 1rem 2rem;
  white-space: nowrap;
  width: 100%;
}

.sidebar__button:hover {
  background-color: #2fd8ea;
}

.sidebar__button:active {
  background-color: #13adbd;
}

.sidebar__button:focus {
  outline: 3px solid #000066;
}

.sidebar__palette-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sidebar__color-input {
  margin: 0.5rem;
}

.sidebar__permalink-container {
  color: #e0e0e0;
  margin: 2rem;
  white-space: nowrap;
}

.sidebar__permalink {
  color: #e0e0e0;
}

.canvas-container {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: center;
  overflow: scroll;
  transition: 1s ease;
}

.top-links {
  background-color: #fff;
  box-shadow: -1px 1px 3px #484848;
  color: #000;
  font-weight: bold;
  padding: 0.5rem;
  position: fixed;
  right: 0;
  top: 0;
}

.top-links__link {
  color: #000;
}
